.Ishop_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    color: #1b2733;
    padding: 20px;
    border: 1px solid lightgrey;
    border-left: none;
    & .Ishop_item__default {
        display: flex;
        flex-direction: row;
        & .Ishop_item__img-box {
            display: flex;
            flex: 1 1 25%;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: center;
            & .Ishop_itemimg-box__image {
                position: relative;
                display: block;
                width: 100%;
                padding: 20px;
                border: 1px solid lightgray;
            }
        }
        & .Ishop_item__content-box {
            display: flex;
            flex: 3 1 75%;
            width: 100%;
            position: relative;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            & .Ishop_item__content-box__title {
                position: relative;
                font-size: 28px;
                font-weight: 600;
                color: #1428A0;
                text-align: left;
                padding: 10px;
            }
            & .Ishop_item__content-box__description {
                position: relative;
                font-size: 18px;
                color: #1b2733;
                padding: 10px 15px;
                height: 70%;
                & > p {
                    position: relative;
                    width: 55%;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #1b2733;
                    padding: 10px 0;
                    margin: 0;
                }
            }
            & .Ishop_item__content-box__price {
                position: relative;
                font-size: 20px;
                color: #1b2733;
                padding: 10px 15px;
                font-weight: 600;
                & > span {
                    padding-left: 10px;
                    font-weight: 600;
                    color: #1428A0;
                    font-size: 24px;
                }
            }
            & .Ishop_item__content-box__in-stock {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                padding: 10px 15px;
                margin-bottom: 20px;
                & > span {
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }

            }
            & .Ishop_item__content-box__button {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                width: 200px;
                padding: 20px 10px;
                line-height: 15px;
                text-align: center;
                background-color: #1428A0;
                border: none;
                border-radius: 25px;
                color: #F0F0F0;
                transition: all .3s ease;
                box-shadow: none;
                margin: 10px 15px;
                text-transform: uppercase;
                &:hover {
                    background-color: #0B175C;
                }

            }
        }
        & .disable {
            color: #ff2723;
        }
    }

}

.Ishop_ProductList {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: sans-serif;
    & .Ishop_ProductList__header {
        display: block;
        font-size: 26px;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        color: #1428A0;
    }
    & .Ishop_ProductList__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: stretch;
        & .Ishop_ProductList__product-list {
            display: block;
            width: 20%;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 15px 0;
            border: 1px solid lightgrey;
            & .Ishop_ProductList__product {
                display: block;
                width: 100%;
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin: 5px 0;
                & input {
                    position: absolute;
                    visibility: hidden;
                }
                & .Ishop_ProductList__label {
                    display: block;
                    padding: 10px 35px;

                }
                & input:checked ~ .Ishop_ProductList__label {
                    color: #1428A0;
                    background-color: #dfdfdf;
                    box-shadow: 0 1px 2px 0 rgba(49, 60, 71, 0.5);
                }
                &:hover {
                    cursor: pointer;
                    color: #1a1a1a;
                    background-color: #dfdfdf;
                    box-shadow: 0 1px 2px 0 rgba(49, 60, 71, 0.5);
                }
            }
            & .Ishop_ProductList__add-product {
                display: block;
                position: relative;
                padding: 10px 35px;
                font-size: 18px;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    color: #1a1a1a;
                    background-color: #dfdfdf;
                    box-shadow: 0 1px 2px 0 rgba(49, 60, 71, 0.5);
                }
            }
        }
    }
}












